* {
     
     margin: 0%;
     padding: 0%;
     /* show position */
     /* border: 1px solid red; */
 }

 #subroot {
     position: relative;
     top: 200px;
     left: 50%;
     transform: translate(-50%,-50%);
     width: 40%;
     height: fit-content;
     min-width: 400px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 /* search-bar: for search */
 #search-bar {
     position: absolute;
     /* center elements inside the search-bar */
     display: flex;
     justify-content: center;
     align-items: center;
     height: 40px;
     width: 100%;
     background-color: rgba(240, 248, 255, 0.8);
     border-radius: 20px;
 }
 
 #search-bar * {
     box-sizing: border-box;
     background-color: transparent;
     margin: 0 2%;
     border: none;
     outline: none;
 }
 
 #dropdown {
     position: relative;
     height: 100%;
     /* center the icons */
     width: auto;
     display: flex;
     align-items: center;
     justify-content: center;
     /* highlight the position */
     /* border: 1px solid green; */
 }
 
 /* dropdownButton */
 #dropdown * {
     display: inline-block;
     width: 18px;
     height: 18px;
 }
 
 #list:hover {
     background-color: rgb(200, 200, 200);
     cursor: pointer;
     border-radius: 100%;
     overflow: visible;
 }

 #search-bar input {
     height: 100%;
     width: 70%;
     font-size: 14px;
 }
 
 /* select {
     font-family: FontAwesome, simpleIcon, sans-serif;
 } */

 #search-bar .react-icon {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 25px;
     height: 25px;
     padding: 3px 3px;
     /* border:1px solid black; */
 }
 
 #search-bar .react-icon:hover {
     background-color: rgb(200, 200, 200);
     cursor: pointer;
     border-radius: 40%;
     overflow: visible;
 }
 
 /* drop-list: show all search engines available */
 /* #drop-list {
    position: absolute;
    left: 0%;
    margin: 0 3%;
    top: 100%;
 }

 #drop-list>button {
    border: 1px solid green;
    background-color: red;
    width: 36px;
    height: 36px;
 } */

 #drop-list {
     display: none;
     list-style: none;
     position: absolute;
     margin: 0;
     left: 0%;
     top:100%;
 }
 
 #drop-list>button {
     display: list-item;
     border: none;
     width: 37px;
     height: 37px;
     background-color: rgba(240, 248, 255, 0.8);
     cursor: pointer;
     /* border: 1px solid brown; */
 }
 
 #drop-list>button:hover {
     background-color: rgb(200, 200, 200);
 }

 #drop-list:last-child {
     border-radius: 30%;
 }
 
 #drop-list>button * {
     height: 18px;
     width: 18px;
     /* prevent the icons from acting as event.target */
     pointer-events: none;
     /* background-color:  */
 }

 /* weather */
