* {
     border: 1px solid red;
}

#subroot {
     position: absolute;
     top: 37%;
     left: 50%;
     transform: translate(-50%, -50%);
     height: fit-content;
     width: fit-content;
     min-width: 400px;
}

#search-bar {
     align-items: center;
     display: inline-block;
     height: fit-content;
     width: fit-content;
     border-radius: 20px;
     background-color: rgba(240, 248, 255, 0.8);
}

#search-bar * {
     margin: 5px 10px;
     padding: 3px 10px;

}

#search-bar input {
     height: 40px;
     width: 65%;
     background-color: transparent;
     border: none;
}

#search-bar input:focus {
     outline: none;
}

#search-bar button {
     height: fit-content;
     width: 25%;
     background-color: rgb(182, 219, 252);
     border: none;
}

#search-bar button:hover {
     background-color: rgb(200, 200, 200);
     cursor: pointer;
}

#select-bar{
     margin:15px;
}