* {
     margin: 0%;
     padding: 0%;
     /* show position */
     /* border: 1px solid red; */
 }
 
 #subroot {
     position: relative;
     top: 37%;
     left: 50%;
     transform: translate(-50%,-50%);
     width: 40%;
     height: fit-content;
     min-width: 350px;
     padding: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 /* search-bar: for search */
 #search-bar {
     position: absolute;
     /* center elements inside the search-bar */
     display: flex;
     justify-content: center;
     align-items: center;
     height: 40px;
     width: 100%;
     background-color: rgba(240, 248, 255, 0.8);
     border-radius: 20px;
 }
 
 #search-bar * {
     box-sizing: border-box;
     background-color: transparent;
     margin: 0 2%;
     border: none;
     outline: none;
 }
 
 #dropdown {
     position: relative;
     height: 100%;
     /* center the icons */
     width: auto;
     display: flex;
     align-items: center;
     justify-content: center;
     /* highlight the position */
     /* border: 1px solid green; */
 }
 
 /* dropdownButton */
 #dropdown * {
     display: inline-block;
     margin: 0;
     width: 18px;
     height: 18px;
 }
 
 #dropdown>#list:hover {
     background-color: rgb(200, 200, 200);
     cursor: pointer;
     border-radius: 100%;
     overflow: visible;
 }
 
 #search-bar input {
     height: 100%;
     width: 70%;
     font-size: 14px;
 }
 
 #search-bar .react-icon {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 25px;
     height: 25px;
     padding: 3px 3px;
     /* border:1px solid black; */
 }
 
 #search-bar .react-icon:hover {
     background-color: rgb(200, 200, 200);
     cursor: pointer;
     border-radius: 40%;
     overflow: visible;
 }
 
 /* drop-list: show all search engines available */
 #drop-list {
     display: none;
     list-style: none;
 }
 
 #drop-list>button {
     display: list-item;
     border: none;
     width: 40px;
     height: 40px;
     background-color: rgba(240, 248, 255, 0.8);
 }
 
 #drop-list>button:hover {
     background-color: rgb(200, 200, 200);
     cursor:pointer;
 }
 
 #drop-list>button * {
     /* display: none; */
     height: 18px;
     width: 18px;
     /* background-color:  */
 }
